name: Build

on:
  workflow_dispatch:
  push:
    branches:
    - main
  pull_request:

jobs:

  build:
    runs-on: ubuntu-22.04
    env:
      DOTNET_NOLOGO: true

    steps:
    - name: Check out our repo
      uses: actions/checkout@v4
      with:
        submodules: true

    # Build with .NET 6.0 SDK
    - name: Setup .NET 8.0
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x

    - name: Build
      run: |
        dotnet build
        dotnet test
